
<head>
    <meta charset="UTF-8">
</head>
<body>
<div ng-controller="ListController as lc">
    <div ng-show="lc.authStatus">
        <b>Click a document to translate to <i>Zombieeeeeeeee</i></b>
        <br>
        <br>

        <style>
            table, th , td {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
            table tr:nth-child(odd) {
                background-color: #f1f1f1;
            }
            table tr:nth-child(even) {
                background-color: #ffffff;
            }
        </style>

        <table>
            <tr>
                <th>ID</th>
                <th>Document Title</th>
                <th>Body Length</th>
                <th>Translate!</th>
            </tr>
            <tr ng-repeat="document in lc.gDocs">
                <td>{{$index + 1}}</td>
                <td>{{ document.title }}</td>
                <td>{{ document.body.length }}</td>
                <td>
                    <button ng-click="lc.selectDoc($index)">
                        Translate!
                    </button>
                </td>
            </tr>
        </table>
        <button ng-click="lc.logZombie()">log zomvie</button>
    </div>

    <div ng-show="!lc.authStatus">
        Need to authorize google docs first! Click on OAuth tab.
        <br>
        <!--<a href="#/oauth">Authorize Here</a>-->
    </div>

</div>
</body>